.clearvoice {
      background:url(../img/header.svg) no-repeat 50% 50%!important;
      display: block;
      width: 52px;
      height: 61px;
      margin: 0 auto 16px;
      background-size: 52px 61px;
      overflow: hidden;
      text-align: left;
      text-indent: -9999px
}		

.loginheader{
	text-align: center;
    font-size: 1.375rem;
    font-weight: 700;
    color: #222b37;
    margin: 0 0 1.5rem;

}

body {
    font-family: Open Sans,Helvetica,Arial,sans-serif;
    font-weight: 100;
    line-height: 150%;
    background: #fff;
    color: #4f595b;
    cursor: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
    position: relative;
}

body, html {
    font-size: 100%;
}


label{
    cursor: pointer;
    display: block;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #4f595b;
}

.pseudo-input, input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea {
    display: block;
    box-sizing: border-box;
    background-color: #fff;
    color: #4f595b;
    font-family: inherit;
    font-size: .875rem;
    border: 1px solid #dfe3e8;
    border-radius: 4px;
    width: 100%;
    height: 2.3125rem;
    margin: 0 0 1rem;
    padding: .5rem;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition-property: border-color,background-color,box-shadow;
    transition-duration: .15s;
    transition-timing-function: linear;
}

.content-wrapper {
    position: absolute;
    width: 100%;
    max-width: 37rem;
    min-height: 100%;
    background: #fff;
}

@media only screen and (min-width: 655px)
.content-wrapper .content {
    padding: 2.5rem 0 0;
    margin: 0 7.5rem;
}

.row {
    margin: 0 auto;
    max-width: 62.5rem;
}

.row, select {
    width: 100%;
}

.row:after, .row:before {
    content: " ";
    display: table;
}
.row:after {
    clear: both;
}


@media only screen and (min-width: 40.0625em)
.column.medium-centered:last-child, .columns.medium-centered:last-child {
    float: none;
}
.row.collapse>.column, .row.collapse>.columns {
    padding-left: 0;
    padding-right: 0;
}
@media only screen and (min-width: 40.0625em)
.column.medium-centered, .columns.medium-centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
}
@media only screen and (min-width: 64.0625em)
.column, .columns {
    position: relative;
    padding-left: .9375rem;
    padding-right: .9375rem;
    float: left;
}
@media only screen and (min-width: 40.0625em)
.medium-9 {
    width: 75%;
}
@media only screen and (min-width: 40.0625em)
.column, .columns {
    position: relative;
    padding-left: .9375rem;
    padding-right: .9375rem;
    float: left;
}
.column, .columns {
    position: relative;
    padding-left: .9375rem;
    padding-right: .9375rem;
    float: left;
}
.column, .columns {
    padding-left: .9375rem;
    padding-right: .9375rem;
    width: 100%;
    float: left;
}
blockquote, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, li, ol, p, pre, td, th, ul {
    margin: 0;
    padding: 0;
}
*, :after, :before {
    box-sizing: border-box;
}

div {
    display: block;
}
